body {
  font-family: "Inter", sans-serif !important;
}

.main-frame {
  background-color: white;
  width: 100%;
  height: 55em;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #f5f6f8;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.sidebar > .project {
  margin-left: 10%;
  margin-top: 2em;
  font-family: "Inter", sans-serif !important;
  font-size: 1.3em;
  text-align: left;
  background-color: transparent;
  color: #42484e;
  border-radius: 2em;
  border-color: transparent;
  cursor: pointer;
}

.sidebar > .project:hover {
}

.sidebar > .add-project {
  background-color: transparent;
  color: #42484e;
  margin-top: 2em;
  margin-left: 25%;
  width: 50%;
  border-color: transparent;
  border-radius: 10%;
  font-family: "Inter", sans-serif !important;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.sidebar > .project-window {
  margin-left: 10%;
  margin-top: 2em;
}
/*todo section*/
.home {
  width: 70%;
  flex-direction: column;
}

.home > .todos {
  position: relative;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home > .buttonSection {
  height: 10%;
  position: relative;
}

.buttonSection > .add-todo {
  position: absolute;
  left: 90%;
  font-size: 1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(11, 63, 153);
  color: white;
  cursor: pointer;
}

/*Includes the three todo properties*/
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2em;
}

/*Window for adding a todo*/
.home .todo-window {
  height: 50%;
  width: 60%;
  position: absolute;
  left: 20%;
  top: 25%;
  background-color: cyan;
}
