body {
  font-family: "Inter", sans-serif !important;
}

.main-frame {
  background-color: white;
  width: 100%;
  height: 55em;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #f5f6f8;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.sidebar > .project {
  margin-left: 10%;
  margin-top: 2em;
  font-family: "Inter", sans-serif !important;
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  background-color: transparent;
  color: #42484e;
  border-radius: 2em;
  border-color: transparent;
  cursor: pointer;
}

.sidebar > .project:hover {
  color: #16181a;
}

.sidebar > .add-project {
  background-color: transparent;
  color: #42484e;
  width: 60%;
  margin-top: 2em;
  margin-left: 20%;
  padding: 10px;
  border-color: #5d656d;
  border-radius: 2em;
  font-family: "Inter", sans-serif !important;
  font-size: 1.2em;
  font-weight: 900;
  cursor: pointer;
}

.sidebar > .project-window {
  margin-left: 10%;
  margin-top: 2em;
}
/*todo section*/
.home {
  position: relative;
  margin-left: 5%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.home > #titleSection {
  width: auto;
  align-self: center;
  height: 10%;
}
.home > #descriptionSection {
  height: 20%;
}

.home > .buttonSection {
  height: 10%;
  position: relative;
}

.buttonSection > .add-todo {
  position: absolute;
  left: 90%;
  font-size: 1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(11, 63, 153);
  color: white;
  cursor: pointer;
}

.home > .todos {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.todos > .todo {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 70% 20% 10%;
  font-family: "Inter", sans-serif !important;
  font-weight: normal;
  font-size: 1.2em;
}

.todos > .todo > .todo-date {
  text-align: center;
}

/*Window for adding a todo*/
.home > .todo-window {
  background-color: #f5f6f8;
  position: absolute;
  width: 60%;
  height: 40%;
  margin-top: 20%;
  margin-left: 20%;
  border-radius: 2em;
}
